{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static "css/semantic.min.css" %}">
    <link rel="stylesheet" href="{% static "css/index.css" %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <title>{% block title %}SubsMan management system{% endblock %}</title>
</head>
<body>
{% if user.is_authenticated %}
    {% include 'navigation.html' %}
{% else %}
    <div class="ui visible inverted left vertical sidebar default">
        <div>
            <a href="/"><img src="{% static "logo.png" %}" class="nhm-logo" alt="logo" style="height: 100px; width: 100px"/></a>
        </div>
        <div class="welcome">Welcome to SubsMan!</div>
        <div class="infotext">Please login or create new account to continue with product checkout.</div>
    </div>
{% endif %}
<div class="pusher">
    <div class="ui container">
        {% if user.is_authenticated %}{% include 'header.html' %}{% endif %}
        <div class="ui grid padded" style="padding: 0 10px;">
            <div class="sixteen wide column">
                <div class="ui segment">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static "js/jquery.min.js" %}"></script>
<script src="{% static "js/popper.min.js" %}"></script>
<script src="{% static "js/semantic.min.js" %}"></script>
<script src="{% static "js/index.js" %}" type="module"></script>
<script src="https://www.gstatic.com/charts/loader.js"></script>
</body>
</html>
