{% load static %}
<div class="ui grid padded" style="padding: 10px 10px 0 10px;">
    <div class="ten wide computer ten wide tablet sixteen wide mobile column">
        <div class="logo">
            <button id="sidebar-toggle" class="ui icon button basic compact">
                <i class="bars icon"></i>
            </button>
            <a href="/"><img src="{% static "logo_with_text.png" %}" class="nhm-logo" alt="logo"
                             style="height: 100%; max-height: 50px; max-width: 50px; width: 100%"/></a>
        </div>
    </div>
    <div class="six wide computer six wide tablet sixteen wide mobile column right aligned" id="notifications">
        <div class="notification-button ui icon top right pointing dropdown button basket-open">
            <i class="shopping basket icon"></i>
            <span class="button__badge">{% if request.basket %}{{ request.basket.count }}{% else %}0{% endif %} </span>
        </div>
        <div class="ui dropdown icon top right pointing">
            <div class="user-avatar-header">
                {{ user.first_name.0|upper }}{{ user.last_name.0|upper }}
            </div>
            <div class="menu">
                <a class="logout-link" rel="nofollow" data-method="delete" href="{% url 'user:logout' %}">
                    <div class="item">Logout</div>
                </a>
            </div>
        </div>
        <div class="user-full-name-header" title="{{ user.first_name }} {{ user.last_name }} ({{ user.email }})">
            {{ user.first_name }} {{ user.last_name }}
        </div>
    </div>
    <div class="sixteen wide column headline">
        <div class="ui divider" style="margin: 0;"></div>
    </div>
</div>
