<div class="column">
    <div class="ui fluid card">
        <div class="content">
            <div class="header" style="text-align: center;">{{ plan.name }}</div>
            <div class="description" style="text-align: center;">
                <strong style="color: black">{{ plan.price }} {{ plan.currency_code | upper }}</strong>
                <br/>
                {{ plan.description }}
            </div>
            <div class="ui divider"></div>
            <div class="ui two column right aligned grid">
                {% for item in plan.items.all %}
                    <div class="right aligned column"
                         title="{{ item.description }}">{{ item.name }}</div>
                    <div class="left aligned column">
                        <strong>{{ item.value }}-{{ item.value_unit }}</strong>
                    </div>
                {% endfor %}
            </div>
            <div class="ui divider"></div>
        </div>
        {% if request.resolver_match.url_name == 'plans' %}
            <a href="{% url 'main:add_to_basket' %}?plan_id={{ plan.id }}">
                <div class="ui bottom attached button">
                    <i class="add icon"></i>
                    Add to basket
                </div>
            </a>
            <a href="{% url 'main:subscription_new' %}?plan_id={{ plan.id }}">
                <div class="ui bottom attached button" style="background-color: #00b27b; color: white">
                    PURCHASE
                </div>
            </a>
        {% endif %}
        {% if request.resolver_match.url_name == 'home' %}
            <div class="ui bottom attached button" style="background-color: #F2F8FD">
                <a href="{% url 'main:subscription_new' %}?plan_id={{ plan.id }}" class="ui button green">PURCHASE</a>
                <a href="{% url 'main:delete_from_basket' basket_item.id %}" class="ui button red">DELETE</a>
            </div>
        {% endif %}
    </div>
</div>
